<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <style>
    </style>
</head>
<body>

<div class="container " id="blog-body">
    <div id="login">
        <form name="forget" action="{:url('Index/Forget/reset')}/{$token}" method="post" class="form-signin">
            <label for="inputUsername" class="sr-only">密码</label>
            <input type="text" id="inputUsername" name="password" class="form-control" placeholder="密码" required="" autofocus="" />

            <button id="forgetBtn" class="btn btn-lg btn-primary btn-block" target="{:url('Index/Index/index')}" type="button">下一步</button>
        </form>
    </div>
</div>
<footer>

</footer>

<script src="__STATIC__/js/jquery.min.js"></script>
<script>
    $("#forgetBtn").click(() => {
        document.forget.submit()
    })
</script>
<!--<script src="__STATIC__/js/core.js"></script>-->
</body>
</html>