{extend name="base" /}
{block name='sensitive'}active{/block}
{block name="main"}
<h2>屏蔽词管理</h2>
<div>
    <form action="{:url('Admin/Sensitive/add')}" method="post">
        <input type="text" name="text" placeholder="关键词" style="height: 34px;top: -4px;position: relative;padding-left: 5px" />
        <button class="btn post-button" id="create-post" href="{:url('Admin/Sensitive/create')}">添加屏蔽词</button>
    </form>
</div>
<div class="post-operation clearfix">
    <div class="left">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>

            {for start="1" end="$pages"}
            <li><a href="#">{$i}</a></li>
            {/for}
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    <div class="right" id="search">
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>标题</th>
    </tr>
    </thead>
    <tbody>
    {foreach $data as $item}
    <tr class="article-item">
        <td>
            {$item.text}
        </td>
        <td>
            <a class="btn-link" href="{:url('Admin/Sensitive/delete')}/{$item.id}" onclick="return deleteConfirm()">删除</a>
        </td>
    </tr>
    {/foreach}

    </tbody>
</table>
{/block}
{block name="script"}
<script>



    function deleteConfirm() {
        return confirm("确认删除该屏蔽词吗？");

    }

</script>
{/block}